<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                เราชื่อแม็ก เรามีหลายฉายา สมัย ม.ต้น เพื่อนๆ เรียกเราว่า "แว่น" สมัย ปวช. เพื่อนๆ เรียกเราว่า "เต่า" หรือ "เต่าแดง"(BNB เทพ)
                ปัจุบัน มีคนเรียกเราว่า "น้องแม็ก", "น้องจบใหม่", "น้องใหม่" ทั้งๆ ที่อายุเรา ใกล้ 30 แล้ว........... 
                เราเคยทำอะไรมาบ้าง เราเคยเปิดร้านแกมส์กับพี่สาว เคยทำร้าน VCD เช่าหนัง... หนังธรรมดานะอย่าพึ่งคิดไปไกล เคยเป็นโปรแกรมเมอร์
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                เราสร้างคอมได้ สร้างโปรแกรมได้ ไอ้โน้นนิด ไอ้นี่หน่อย แต่ไม่ชอบกดดันเรื่องเงิน เลยออกไปหาอะไรทำเพิ่ม
                ปัจจุบัน เราเป็นนักธุรกิจ สร้างช่องทางการจัดจำหน่าย มีรายได้จาก Transaction(passive) และ Commission(active)
                และเราก็ได้ทำงานที่เราชอบ เป็นโปรแกรมเมอร์ไปด้วย
            </p>
        </div>
    </div>
</section>
