<footer class="container-fluid container-contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Contacts</h1>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                <a href=" {{ site.facebook-url }}">
                    {{ site.facebook }}
                </a>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-commenting-o" aria-hidden="true"></i>
                <a href="Line:{{ site.line-url }}">
                    {{ site.line }}
                </a>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="mailto:{{ site.email }}">
                    {{ site.email }}
                </a>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a href="tel:{{ site.phone }}">
                    {{ site.phone }}
                </a>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <a href="{{ site.instagram-url }}">
                    {{ site.instagram }}
                </a>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a href="tel:{{ site.phone2 }}">
                    {{ site.phone2 }}
                </a>
            </div>
        </div>
    </div>
</footer>
